body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    margin-top: 5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-info, .contact-form {
    flex: 1;
    padding: 1rem;
    margin: 0 1rem;
}

.contact-info {
    border-right: 1px solid #e0e0e0;
}

.contact-info h2, .contact-form h2 {
    font-size: 2rem;
    color: #333;
}

.contact-info p {
    margin: 1rem 0;
}

.contact-info .yhteystiedot {
    list-style: none;
    padding: 0;
}

.contact-info .yhteystiedot li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.contact-info .yhteystiedot li i {
    color: #5865F2;
    margin-right: 10px;
}

.contact-form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.main-button {
    background-color: #5865F2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #4752c4;
}

/* Kartta */
.map-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.map-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-info .social-media {
    margin-top: 1rem;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.contact-info .social-media li {
    list-style: none;
}

.contact-info .social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5865F2; 
    color: #ffffff; 
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.contact-info .social-media li a:hover {
    background-color: #4752c4;
    transform: scale(1.05);
}

.contact-info .social-media li a i {
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Footer */
.footer {
    padding: 3rem;
    background-color: #212132;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.footer a {
    color: #fff;
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
    
    .contact-info, .contact-form {
        border-right: none;
        margin: 0;
        padding: 1rem 0;
    }

    .contact-info {
        border-bottom: 1px solid #e0e0e0;
    }
}
