body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

/* Galleria */
.gallery-container {
    padding: 2rem;
    text-align: center;
}

.gallery-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.gallery-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    text-align: left;
}

.gallery-item-info h3 {
    margin: 0;
    font-size: 1.5rem;
}

.gallery-item-info p {
    margin-top: 0.5rem;
}

/* Footer */
.footer {
    padding: 3rem;
    background-color: #212132;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.footer a {
    color: #fff;
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .gallery-container h2 {
        font-size: 2rem;
    }

    .gallery-container p {
        font-size: 1rem;
    }

    .gallery-item-info h3 {
        font-size: 1.2rem;
    }
}