* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212132;
    padding: 1rem 2rem;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-toggler {
    background: none;
    border: none;
    color: #F0F8FF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    transition: color 0.3s;
}

.navbar-toggler.active {
    color: #7289da; 
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    margin-left: 1.5rem;
    list-style: none;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #7289da;
}

.navbar a.invite-button {
    padding: 0.5rem 1.2rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #7289da, #5865f2);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 15px rgba(114, 137, 218, 0.5);
}

.navbar a.invite-button:hover {
    background: linear-gradient(135deg, #5865f2, #7289da);
    box-shadow: 0px 0px 20px rgba(88, 101, 242, 0.8);
    transform: scale(1.05);
}

.navbar-links a.active {
    color: #7289da;
}

.navbar .invite-button:active {
    background: linear-gradient(135deg, #7289da, #5865f2);
    box-shadow: 0px 0px 10px rgba(88, 101, 242, 1);
    transform: scale(1);
}

@media (max-width: 740px){
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        gap: 25px;
        right: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(0);
        background-color: #212132;
        padding: 1rem;
        border-radius: 0 0 0 10px;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 740px){
    .navbar-toggler {
        display: block;
    }

    .navbar-links .invite-button {
        display: block;
        margin-top: .5rem;
        width: 100%;
        text-align: center;
    }
}